/**
 * Copyright 2026 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.checkmark {
  display: var(--mod-menu-checkmark-display, var(--spectrum-menu-checkmark-display));
  grid-area: checkmarkArea;
  align-self: start;
  inline-size: var(--mod-menu-item-checkmark-width, var(--spectrum-menu-item-checkmark-width));
  block-size: var(--mod-menu-item-checkmark-height, var(--spectrum-menu-item-checkmark-height));
  margin-block-start: calc(var(--mod-menu-item-top-to-checkmark, var(--spectrum-menu-item-top-to-checkmark)) - var(--mod-menu-item-top-edge-to-text, var(--spectrum-menu-item-top-edge-to-text)));
  margin-inline-end: var(--mod-menu-item-text-to-control, var(--spectrum-menu-item-text-to-control));
  color: var(--highcontrast-menu-checkmark-icon-color-default, var(--mod-menu-checkmark-icon-color-default, var(--spectrum-menu-checkmark-icon-color-default)));
  opacity: 1;
  fill: var(--highcontrast-menu-checkmark-icon-color-default, var(--mod-menu-checkmark-icon-color-default, var(--spectrum-menu-checkmark-icon-color-default)));
}

.spectrum-Menu-back:focus-visible {
  border-radius: var(--spectrum-menu-item-corner-radius);
  box-shadow: var(--spectrum-menu-item-focus-indicator-shadow) var(--spectrum-menu-item-focus-indicator-border-width) 0 0 0 var(--spectrum-menu-item-focus-indicator-color-default);
  outline: var(--spectrum-menu-item-focus-indicator-width) var(--spectrum-menu-item-focus-indicator-outline-style) var(--spectrum-menu-item-focus-indicator-color-default);
  outline-offset: var(--spectrum-menu-item-focus-indicator-offset);
}

.spectrum-Menu-back {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding-block: var(--mod-menu-back-padding-block-start, 0) var(--mod-menu-back-padding-block-end, 0);
  padding-inline: var(--mod-menu-back-padding-inline-start, 0) var(--mod-menu-back-padding-inline-end, var(--spectrum-menu-item-label-inline-edge-to-content));
}

.spectrum-Menu-backButton {
  display: inline-flex;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.spectrum-Menu-backButton:focus-visible {
  outline: var(--spectrum-focus-indicator-thickness) solid var(--spectrum-focus-indicator-color);
  outline-offset: calc((var(--spectrum-focus-indicator-thickness) + 1px) * -1);
}

.spectrum-Menu-backHeading {
  display: block;
  font-size: var(--mod-menu-section-header-font-size, var(--spectrum-menu-section-header-font-size));
  font-weight: var(--mod-menu-section-header-font-weight, var(--spectrum-menu-section-header-font-weight));
  line-height: var(--mod-menu-section-header-line-height, var(--spectrum-menu-section-header-line-height));
  color: var(--highcontrast-menu-item-color-default, var(--mod-menu-back-heading-color, var(--spectrum-menu-section-header-color)));
}
